<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>pasture</string>
	<key>levelNumber</key>
	<integer>7</integer>
	<key>maxDelay</key>
	<real>2.4</real>
	<key>maxSpeed</key>
	<integer>10</integer>
	<key>minDelay</key>
	<real>1.2</real>
	<key>minSpeed</key>
	<integer>4</integer>
	<key>numSheep</key>
	<integer>70</integer>
	<key>scenery</key>
	<array>
		<dict>
			<key>layer</key>
			<integer>0</integer>
			<key>name</key>
			<string>bush2</string>
			<key>posX</key>
			<integer>25</integer>
			<key>posY</key>
			<integer>410</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>0</integer>
			<key>name</key>
			<string>bush1</string>
			<key>posX</key>
			<integer>630</integer>
			<key>posY</key>
			<integer>410</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>0</integer>
			<key>name</key>
			<string>cloister</string>
			<key>posX</key>
			<integer>310</integer>
			<key>posY</key>
			<integer>290</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>2</integer>
			<key>name</key>
			<string>grave</string>
			<key>posX</key>
			<integer>187</integer>
			<key>posY</key>
			<integer>288</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>2</integer>
			<key>name</key>
			<string>grave2</string>
			<key>posX</key>
			<integer>430</integer>
			<key>posY</key>
			<integer>295</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>3</integer>
			<key>name</key>
			<string>grave3</string>
			<key>posX</key>
			<integer>390</integer>
			<key>posY</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>3</integer>
			<key>name</key>
			<string>grave2</string>
			<key>posX</key>
			<integer>99</integer>
			<key>posY</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>4</integer>
			<key>name</key>
			<string>rock</string>
			<key>posX</key>
			<integer>312</integer>
			<key>posY</key>
			<integer>210</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>4</integer>
			<key>name</key>
			<string>brokencols</string>
			<key>posX</key>
			<integer>312</integer>
			<key>posY</key>
			<integer>160</integer>
		</dict>
	</array>
	<key>startPoints</key>
	<array>
		<dict>
			<key>layer</key>
			<integer>1</integer>
			<key>yPos</key>
			<integer>380</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>2</integer>
			<key>yPos</key>
			<integer>320</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>3</integer>
			<key>yPos</key>
			<integer>270</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>4</integer>
			<key>yPos</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>5</integer>
			<key>yPos</key>
			<integer>210</integer>
		</dict>
	</array>
</dict>
</plist>
