<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>ruins</string>
	<key>levelNumber</key>
	<integer>2</integer>
	<key>maxDelay</key>
	<real>3.5e0</real>
	<key>maxSpeed</key>
	<integer>9</integer>
	<key>minDelay</key>
	<real>1.5e0</real>
	<key>minSpeed</key>
	<integer>6</integer>
	<key>numSheep</key>
	<integer>30</integer>
	<key>scenery</key>
	<array>
		<dict>
			<key>layer</key>
			<integer>0</integer>
			<key>name</key>
			<string>fridge</string>
			<key>posX</key>
			<integer>100</integer>
			<key>posY</key>
			<integer>346</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>2</integer>
			<key>name</key>
			<string>bush1</string>
			<key>posX</key>
			<integer>450</integer>
			<key>posY</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>3</integer>
			<key>name</key>
			<string>buriedfence</string>
			<key>posX</key>
			<integer>260</integer>
			<key>posY</key>
			<integer>232</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>4</integer>
			<key>name</key>
			<string>bush2</string>
			<key>posX</key>
			<integer>60</integer>
			<key>posY</key>
			<integer>215</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>4</integer>
			<key>name</key>
			<string>rock</string>
			<key>posX</key>
			<integer>115</integer>
			<key>posY</key>
			<integer>205</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>3</integer>
			<key>name</key>
			<string>sofa</string>
			<key>posX</key>
			<integer>500</integer>
			<key>posY</key>
			<integer>231</integer>
		</dict>
	</array>
	<key>startPoints</key>
	<array>
		<dict>
			<key>layer</key>
			<integer>1</integer>
			<key>yPos</key>
			<integer>370</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>2</integer>
			<key>yPos</key>
			<integer>320</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>3</integer>
			<key>yPos</key>
			<integer>280</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>4</integer>
			<key>yPos</key>
			<integer>220</integer>
		</dict>
		<dict>
			<key>layer</key>
			<integer>5</integer>
			<key>yPos</key>
			<integer>195</integer>
		</dict>
	</array>
</dict>
</plist>
